<% if notice.present? %>
  <p class="p.py-2 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice">
    <%= notice %>
  </p>
<% end %>
<h1 class="text-2xl font-bold">Task manager</h1>
<div class="mt-2">
  <%= render 'form', task: @task %>
</div>

<h2 class="font-bold text-lg mb-3">Tasks</h2>
<ul id="tasks" data-controller="tasks">
  <%= render @tasks %>
</ul>
